 body{
   background-color: azure;
 }
 .nav-item{
   padding-right: 250px;
 }
 .navbar-brand{
  padding-right: 250px;
 }
 .jumbotron{ 
  display: block;
  max-width: 50%;
  text-align: center;  
  margin: auto; 
  background-color:rgb(32, 32, 32);
  color: azure;
  
} 
img{
  width: 200px;
  height: 200px;
  border-radius: 80%;
}
footer{
  text-align: center;
}
.card{
  text-align: center;
  max-width: 80%;
  margin: auto;
  padding: 70px;
  color: azure;
  background-color:rgb(32, 32, 32);
}